html{
    background-color: aliceblue;
}

body{
            background-color: black; 
            background-color: gray;
            width: 600px;
            padding: 0 20px 20px 20px;
            margin: 0 auto;
            border: 6px solid black;
}


    